.containerCreated{
    margin-top: -38px;

    /* height:35px; */
    /* width: 75px; */
}

.buttonCrated1{
margin-left: -950px;
height: 35px;
width: 150px;
background: linear-gradient(0deg, rgba(4,4,4,1) 0%, rgba(122,121,121,1) 46%, rgba(252,252,252,1) 74%);
color: #fff
}

.buttonCrated2{
height: 35px;
    width: 150px;
    background: linear-gradient(0deg, rgba(4,4,4,1) 0%, rgba(122,121,121,1) 46%, rgba(252,252,252,1) 74%);
color: #fff
}