 @media screen and ( min-width:320px ) {
    .containerHome{
        width: 88%;       
    }
    .containerCard{
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 1%;
    justify-content: center;
    width: 115%;
    height: 750vh;
    /* margin-top: -6%; */
    background-color: rgb(4,4,4);
    /* border: 20px solid black; */
    }
    .card{
        max-width: calc(4 * 8rem);
        min-width: 10em;
        margin: 0 auto;
    } 
    .imageHome{
       display: none;
    } 
   } 
   @media screen and ( min-width: 400px) {
   
    .containerCard{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 360vh;
    }   
  }
  @media screen and ( min-width: 494px) {
   
    .containerCard{       
        height: 380vh;
    }   
  }
  @media screen and ( min-width: 590x) {
   
    .containerCard{       
        height: 400vh;
    }   
  }
  @media screen and ( min-width: 630px) {
   
    .containerCard{       
        height: 420vh;
    }   
  }
  /* @media screen and ( min-width: 613px) {
   
    .containerCard{       
        height: 390vh;
    }    */
  /* }
  @media screen and ( min-width: 665px) {
   
    .containerCard{       
        height: 410vh;
    }   
  } */
  @media screen and ( min-width: 750px) {
    .containerCard{
        width: 70.5%;
        height: 305vh;
    }
     .imageHome{
        display: block;
        position: fixed; 
        width: 100%; 
        left: 50%;
        top: 90%;
        height: 100%;
        transform: translate(-50%,-70%);
        border-color: 2px solid rgb(255, 1, 1) ;
        z-index: -1;
    } 
  }
   @media screen and ( min-width: 900px) {    
    .containerCard{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 4%;
        width: 66.5%;
        height: 240vh;
        /* margin-top: -3%; */
        background: rgb(4,4,4);
        border: 20px solid black;
    }
    .card{
        max-width: calc(3 * 10rem);
        min-width: 10em;
        margin: 0 auto;
    }
    Link{
        text-decoration: none;
    } 
    
     .imageHome{
        position: fixed; 
        width: 100%; 
        left: 50%;
        top: 50%;
        height: 100%;
        object-fit: cover;
        transform: translate(-50%,-50%);
        border-color: 2px solid rgb(255, 1, 1) ;
        z-index: -1;
    }
  }