@media screen and (min-width:320px) {
    .containerForm {
        padding-top: 66px;
        background: #3E4652;
        height: 130vh;
    }

    .containerForm2 {
        background: #464E5B;
        max-width: 420px;
        min-width: 320px;
        width: 50%;
        margin: 0 auto;         
    }

    .containerNameForm {
        background: #505967;
        width: 90%;
        height: 65px;
        margin: 10px auto;
    }

    .textInput,
    .textInput2,
    .textInput4 {
        font-family: Garamond;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        color: black;
    }

    .textInput {
        margin-left: -70%;
    }

    .textInput2 {
        margin-left: -57%;
    }

    .textInput4 {
        margin-left: -45%;
    }

    .inputName2 {
        font-family: Garamond;
        font-weight: bold;
        font-size: 18px;
        width: 90%;
        height: 45%;
        background: #707d91;
        border: 2px solid black;
    }
        .itemVolver {
        font-family: Garamond;
        font-weight: bold;
        font-size: 18px;
        margin-top: 2%;
        letter-spacing: 1px;
        cursor: pointer;
        background: linear-gradient(0deg, rgb(110, 110, 110) 0%, rgb(184, 184, 184) 46%, rgba(252, 252, 252, 1) 74%);
    }

    .itemVolver:hover {
        box-shadow:
            0 0 5px rgba(20, 42, 255, 1),
            0 0 10px rgba(20, 42, 255, 1),
            0 0 20px rgba(20, 42, 255, 1),
            0 0 40px rgba(38, 104, 127, 1),
            0 0 80px rgba(38, 104, 127, 1),
            0 0 90px rgba(38, 104, 127, 1),
            0 0 100px rgba(38, 104, 127, 1),
            0 0 140px rgba(38, 104, 127, 1),
            0 0 180px rgba(38, 104, 127, 1);
        background: #fff;
        transition: 1.5s;
    }
    .itemVolver2 {
        font-family: Garamond;
        font-weight: bold;
        font-size: 18px;
        margin-top: 2%;
        letter-spacing: 1px;
        cursor: pointer;
        color:rgb(110, 110, 110);
        background: linear-gradient(0deg, rgb(110, 110, 110) 0%, rgb(184, 184, 184) 46%, rgba(252, 252, 252, 1) 74%);
    }

    .itemVolver2:hover {
        box-shadow:
            0 0 5px rgba(20, 42, 255, 1),
            0 0 10px rgba(20, 42, 255, 1),
            0 0 20px rgba(20, 42, 255, 1),
            0 0 40px rgba(38, 104, 127, 1),
            0 0 80px rgba(38, 104, 127, 1),
            0 0 90px rgba(38, 104, 127, 1),
            0 0 100px rgba(38, 104, 127, 1),
            0 0 140px rgba(38, 104, 127, 1),
            0 0 180px rgba(38, 104, 127, 1);        
    }  
    .errorMessageName {
        margin-left: 40%;
        margin-top: -15%;
        color: red;
    }
    .containerTemp, .containerTemp2{
        display: flex
    }
    .containerTemp2{
        font-family: Garamond;
        font-weight: bold;
        font-size: 18px;
        margin-top: 2%;
        letter-spacing: 1px;
        cursor: pointer;
        height: 20px;
        padding: 2%;
             
    }
    .buttonTemps{ 
        padding: 2%;
    }
    .pTemps{
        margin-top: -1%;
    }
}