
.coontainerSearchBar{
    margin-top: -125px;
}

.inputSearchbar{
    margin-left: 1050px;
    width: 105px;
    height:35px;
    background:rgb(2, 0, 0);
    color: #fff;
         
}

.inputSearchbar::placeholder{
    color:red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

.buttonSearchbar{
    height: 38px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(0deg, rgba(4,4,4,1) 0%, rgba(122,121,121,1) 46%, rgba(252,252,252,1) 74%);
    color: #fff;

}


